.float-left {
    float: left;
}

.float-right {
    float: right;
}
a{
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: green;
    font-weight: 600;
}
a:hover{
    color:blue;
    text-decoration: underline;
}