<div class="container">
  <div class="input-group mt-2 mb-2" #data>
    <input
      id="searchInput"
      (input)="searchdata()"
      type="search"
      class="form-control rounded"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="search-addon"
    />
  </div>

  <div *ngIf="value12">
    <h3 class="text-warning mt-4 mb-4">
      Please Enter Valid Aadhar Number In Your Search Box
    </h3>
  </div>

  <div class="search" *ngIf="tablesearch">
    <h3 class="text-warning mt-4 mb-4">Search Result</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Customer Name</th>
          <th scope="col">Customer Account Number</th>
          <th scope="col">Balance</th>
          <th scope="col">Customer Address</th>
          <th scope="col">Customer Mobile Number</th>
          <th scope="col">Customer Aadhar Number</th>
          <th scope="col">Customer IFSC Code</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filter of fiterdata">
          <td>{{ filter.customerName }}</td>
          <td>{{ filter.customerAccountNumber }}</td>
          <td>{{ filter.AccontBalance | currency : "INR" }}</td>
          <td>{{ filter.customerAddress }}</td>
          <td>{{ filter.customerMobileNumber }}</td>
          <td>{{ filter.customerAadharNumber }}</td>
          <td>{{ filter.customerIFSCCode }}</td>
          <td>
            <a [routerLink]="['/balanceadd', filter.id]">
              <button
                class="btn btn-warning btn-sm mx-2 mt-2"
                (click)="updateDataOnServer(filter.id)"
              >
                AddBalance
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="center" *ngIf="fdata">
      <div>
        <img src="{{ img }}" alt="" height="300" width="300" />
      </div>
      <br />
      <div>
        <h1 class="text-warning">
          No data Found! Please Search Another data. Last 4 Digit of Account
          Number..
        </h1>
      </div>
    </div>
  </div>

  <h3 class="text-warning mt-4 mb-4">Balance Add</h3>

  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Customer Account Number</th>
          <th scope="col">Balance</th>
          <th scope="col">Customer Address</th>
          <th scope="col">Customer Mobile Number</th>
          <th scope="col">Customer Aadhar Number</th>
          <th scope="col">Customer IFSC Code</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let cdata of shareData
              | paginate
                : { itemsPerPage: itemsPerPage, currentPage: currentPage };
            let i = index
          "
        >
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ cdata.customerName }}</td>
          <td>{{ cdata.customerAccountNumber }}</td>
          <td>{{ cdata.AccontBalance | currency : "INR" }}</td>
          <td>{{ cdata.customerAddress }}</td>
          <td>{{ cdata.customerMobileNumber }}</td>
          <td>{{ cdata.customerAadharNumber }}</td>
          <td>{{ cdata.customerIFSCCode }}</td>
          <td>
            <a [routerLink]="['/balanceadd', cdata.id]">
              <button
                class="btn btn-warning btn-sm mx-2 mt-2"
                (click)="updateDataOnServer(i)"
              >
                AddBalance
              </button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="center" *ngIf="dataempty">
    <div>
      <img src="{{ img2 }}" alt="" height="300" width="300" />
    </div>
  </div>
</div>
<pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
